body{
    background-color: #11071F;
}
header{
    position: absolute;
    width: 2000px;
    height: 110px;
    left: 0px;
    top: 0px;
    background: #1A0B2E;
}
.logo{
    position: absolute;
    left: 400px;
    top: 35px;
    color:white;
}
.home{
    position: absolute;
    width: 66px;
    top: 43px;
    left:800px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 27px;
    color: #FFFFFF;
}
.about{
    position: absolute;
    width: 66px;
    top: 43px;
    left:900px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 27px;
    color: #FFFFFF;
}
.contacts{
    position: absolute;
    width: 66px;
    top: 43px;
    left:1000px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 27px;
    color: #FFFFFF;
}
.memoji{
    width: 258px;
    height: 259px;
    left: 65px;
    top: 50px;
    position: absolute;
}
/*Градиент*/
div{     
    width: 385px;
    height: 431px;
    left: 385px;
    top: 220px;
    background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
    position: absolute;
}
.arrow{
position: absolute;
width: 100px;
height: 80px;
left: 225px;
top: 50px;
}
/*Приветствие*/
.name{
position: absolute;
width: 245px;
height: 20px;
left: 315px;
top: 60px;
font-family: 'Preahvihear';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 97px;
align-items: center;
text-align: center;
color: white;
display: flex;
letter-spacing: -0.5px;


}


